<app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<!-- messages -->
<p-toast></p-toast>
<div class="wrapper">
  <div class="content-wrapper" style="padding: 30px;">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion des intitules</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container d-flex justify-content-center">
      <!-- <div class="card" style="width: 50%;">
        <div class="card-header d-flex justify-content-center">
          <h3><strong>Faire un enregistrement d'intitules</strong></h3>
        </div>
        <div style="padding: 20px;" class="card-body">
          <form [formGroup]="champsForm">
            <div class="p-fluid p-formgrid p-grid justify-content-center">
              <div class="p-field p-col-6">
                <label for="nom" class="mb-2">Nom du Champ</label>
                <input id="nom" type="text" class="form-control mb-2" formControlName="nom"
                  [style]="{'width': '350px', 'height': '40px'}" />
                <div>
                  <small *ngIf="champsForm.get('nom')?.invalid && champsForm.get('nom')?.touched" class="p-error">
                    Le nom du champ est requis.
                  </small>
                </div>
              </div>
      
              <div class="p-field p-col-6">
                <label for="type" class="mb-2">Type de Champ</label>
                <p-dropdown id="type" [options]="typeOptions" optionValue="value" formControlName="type" optionLabel="label"
                  [style]="{'width': '350px', 'height': '40px'}" placeholder="Sélectionner un type">
                </p-dropdown>
                <small *ngIf="champsForm.get('type')?.invalid && champsForm.get('type')?.touched" class="p-error">
                  Le type du champ est requis.
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button type="button" class="btn btn-secondary ms-sm-4" style="margin-right: 20px;"
            (click)="resetForm()">Annuler</button>
          <button pButton icon="pi pi-save" class="btn btn-primary" type="submit" label=" Enregistrer"
            (click)="onSubmit()" [disabled]="champsForm.invalid"></button>
        </div>
      </div> -->
    </div>

    <div class="card">
      <!-- <div class="card-header d-flex justify-content-center"> -->
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div>
              <h3><strong>Liste des champs</strong></h3>
            </div>
            <div>
              <button pButton icon="pi pi-add" 
              class="btn btn-primary" type="submit" (click)="openAddDialog()"
                label=" Ajouter"></button>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <div style="padding: 20px;">
        <p-table [value]="champsList" class="table table-striped" styleClass="p-datatable-gridlines"
          class="table small-column-width">
          <ng-template pTemplate="header">
            <tr>
              <th>Nom</th>
              <th style="width: 250px; text-align: center;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-champ>
            <tr>
              <td>{{ champ.nom }}</td>
              <td>
                <div class="d-flex">
                  <button pButton pRipple icon="pi pi-pencil" label=" Modifier" class="bn btn-primary btn-sm me-2" style="margin-right: 10px;"
                    (click)="editChamps(champ)">
                     
                  </button>
                  <button pButton pRipple icon="pi pi-trash" class="btn btn-danger btn-sm me-2"
                    (click)="deleteChamps(champ.id)">
                     Supprimer
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
<!-- POP UP -->
    <p-dialog [(visible)]="displayAddDialog" [modal]="true" [closable]="false">
      <div class="card" style="width: 100%;">
        <div class="card-header d-flex justify-content-center">
          <h3><strong>Faire un enregistrement d'intitules</strong></h3>
        </div>
        <div style="padding: 20px;" class="card-body">
          <form [formGroup]="champsForm">
            <div class="p-fluid p-formgrid p-grid justify-content-center">
              <div class="p-field p-col-6">
                <label for="nom" class="mb-2">Nom du Champ</label>
                <input id="nom" type="text" class="form-control mb-2" formControlName="nom"
                  [style]="{'width': '350px', 'height': '40px'}" />
                <div>
                  <small *ngIf="champsForm.get('nom')?.invalid && champsForm.get('nom')?.touched" class="p-error">
                    Le nom du champ est requis.
                  </small>
                </div>
              </div>
    
              <div class="p-field p-col-6">
                <label for="type" class="mb-2">Type de Champ</label>
                <p-dropdown id="type" [options]="typeOptions" optionValue="value" formControlName="type" optionLabel="label"
                  [style]="{'width': '350px', 'height': '40px'}" placeholder="Sélectionner un type">
                </p-dropdown>
                <small *ngIf="champsForm.get('type')?.invalid && champsForm.get('type')?.touched" class="p-error">
                  Le type du champ est requis.
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-end" style="margin: 20px;">
          <button type="button" class="btn btn-secondary ms-sm-4" style="margin-right: 20px;"
            (click)="resetForm(); displayAddDialog = false;">Annuler</button>
          <button pButton icon="pi pi-save" class="btn btn-primary" type="submit" 
          label=" Enregistrer" [disabled]="champsForm.invalid" ></button>
        </div>
      </div>
    </p-dialog>
    <!-- pop up modif -->
    <p-dialog [(visible)]="displayEditDialog" [modal]="true" [closable]="false">
      <div class="card" style="width: 100%;">
        <div class="card-header d-flex justify-content-center">
          <h3><strong>Faire une modification d'intitule</strong></h3>
        </div>
        <div style="padding: 20px;" class="card-body">
          <form [formGroup]="champsForm">
            <div class="p-fluid p-formgrid p-grid justify-content-center">
              <div class="p-field p-col-6">
                <label for="nom" class="mb-2">Nom du Champ</label>
                <input id="nom" type="text" class="form-control mb-2" formControlName="nom"
                  [style]="{'width': '350px', 'height': '40px'}" />
                <div>
                  <small *ngIf="champsForm.get('nom')?.invalid && champsForm.get('nom')?.touched" class="p-error">
                    Le nom du champ est requis.
                  </small>
                </div>
              </div>
      
              <div class="p-field p-col-6">
                <label for="type" class="mb-2">Type de Champ</label>
                <p-dropdown id="type" [options]="typeOptions" optionValue="value" formControlName="type" optionLabel="label"
                  [style]="{'width': '350px', 'height': '40px'}" placeholder="Sélectionner un type">
                </p-dropdown>
                <small *ngIf="champsForm.get('type')?.invalid && champsForm.get('type')?.touched" class="p-error">
                  Le type du champ est requis.
                </small>
              </div>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-end" style="margin: 20px;">
          <button type="button" class="btn btn-secondary ms-sm-4" style="margin-right: 20px;"
            (click)="resetForm(); displayAddDialog = false;">Annuler</button>
          <button pButton icon="pi pi-save" class="btn btn-primary" type="submit" 
          label=" Enregistrer" (click)="onSubmitModif()" [disabled]="champsForm.invalid"></button>
        </div>
      </div>
    </p-dialog>


  </div>
  <app-main-footer></app-main-footer>